{% extends 'base.html.twig' %}
{% block userstyle %} <link href="css/home.css" rel="stylesheet">{% endblock %}

{% block body %}
<body class="text-center">
    <form class="form-home">
        <h1 class="h5 mb-3 font-weight-normal">You are not authorized. Please log in or register</h1>
        <div class="form-signin">
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-primary btn-lg" target="_self">Registration</a>
        <a href="{{ path('fos_user_security_login') }}" class="btn btn-primary btn-lg" target="_self">Log in</a>
        </div>
    </form>
</body>
{% endblock %}