<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Пример на bootstrap 4: Пользовательская форма и дизайн для простой формы входа.">
    <meta name="author" content="">

    <title>Домашняя страница</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/home.css" rel="stylesheet">
</head>

<body class="text-center">

<form class="form-home">
    <h1 class="h5 mb-3 font-weight-normal">You are not authorized. Please log in or register</h1>
    <div class="form-signin">
    <a href="register.php" class="btn btn-primary btn-lg" target="_self">Registration</a>
    <a href="login.php" class="btn btn-primary btn-lg" target="_self">Log in</a>
    </div>
</form>
</body>
</html>